* {
	margin: auto;
	padding: auto;
	box-sizing: border-box;
  }

/* Global styles */

body {
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
  	line-height: 1.5;
	color: #333;
	background-color: #f2f2f2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

a {
	color: #035d95;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	background-color: #0077c2;
	color: #fff;
	padding: 20px;
}
footer {
    position: relative;
    background-color: #0077c2;
	color: #fff;
	padding: 20px;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  
}
nav ul {
	list-style: none;
	display: flex;
}
  
nav ul li {
	margin-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}

nav ul li a:hover {
	color: #f2f2f2;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
    border: #333;
    border-style: double;
}

section {
	margin-bottom: 30px;
}

.logo {
	width: 50px;
}